SECRET_KEY=change-moi-avec-une-cle-secrete-longue
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=postgresql+asyncpg://collection_user:collection_password@127.0.0.1:5433/ma_collection
POSTGRES_DB=ma_collection
POSTGRES_USER=collection_user
POSTGRES_PASSWORD=collection_password
